.outline {
    background-color: transparent;
    padding: 0px;
    height: 250px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    padding: 12px;
    position: relative;
    flex-shrink: 0;

}

/* Hover: show black outline box with padding */
.outline:hover {
    background-color: #1C1C1C;
}

.outline:hover .Song {
    background-color: #1C1C1C;
}

/* Song Card */
.Song {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: #121212;
    backdrop-filter: blur(4px);
    transition: transform 0.3s ease-in-out;
}


/* Thumbnail Area */
.Song_thumbnial {
    height: 70%;
    width: 100%;
}

.Song_thumbnial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Song Title */
.Song_title {
    padding: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.836);
    font-size: 16px;
    font-weight: 500;
}


.play_icon {
    border: 1px solid white;
    border-radius: 50%;
    background-color: #3BE276;
    padding: 4px 6px;
    position: absolute;
    right: 0;
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    /* Prevents hover when hidden */
}

.outline:hover .play_icon {
    opacity: 1;
    transform: translateX(-20px);
    pointer-events: auto;
}

.play_icon img {
    width: 25px;
    height: 25px;
}



@media (max-width:400px) {
    .outline {
        background-color: transparent;
        padding: 0px;
        height: 200px;
        width: 150px;
        display: flex;
        border-radius: 12px;
        transition: all 0.3s ease-in-out;
        padding: 12px;
        position: relative;
        flex-shrink: 0;

    }

    .Song_title p {
        font-size: 0.9em;
    }
}

.audio {
    display: none;
}