.library {
    width: 100%;
    background: linear-gradient(to bottom, #000000 0%, #f5c518a8 50%, #000000 100%);
    height: 100%;
    overflow-y: auto;
    padding: 50px 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}


.library::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.library::-webkit-scrollbar-track {
    background: transparent;
    /* Track background */
}

.library::-webkit-scrollbar-thumb {
    background-color: rgba(68, 68, 66, 0.6);
    /* Thumb color (matches your gradient) */
    border-radius: 10px;
    border: 2px solid #000000;
    /* Optional: border to blend with background */
}





.library img {
    width: 20px;
}

.library_profile {
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    gap: 3%;
}



.library_profile_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.library_profile_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile_detils {
    display: flex;
    flex-direction: column;
}

.profile_detils h1 {
    font-size: 4.5rem;
    font-family: sans-serif;
}

.verified p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: sans-serif;
}

.profile_detils p {
    font-weight: bold;
}





.playlist_detils {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.library_play_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ED760;
}

.library_play_icon img {
    width: 25px;
    height: 20px;

}

.librar_img {
    width: 40px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.671);
    padding: 2px;
    background-color: transparent;
    overflow: hidden;
}

.librar_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shuffle img {
    height: 30px;
    width: 30px;
}

.following button {
    border: 1px solid rgba(255, 255, 255, 0.479);
    background-color: transparent;
    outline: none;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    border-radius: 20px;
    color: white;
}

.three_dots img {
    width: 50px;
    height: 35px;
}



/* lets edit the song  */

.library_songs {
    width: 100%;
}

.popular {
    margin-left: 10px;
    margin-bottom: 20px;
}



@media (max-width:1000px) {
    .profile_detils h1 {
        font-size: 3.5rem;
        font-family: sans-serif;
    }
}

@media (max-width:550px) {
    .profile_detils h1 {
        font-size: 2.5rem;
        font-family: sans-serif;
    }

    .library_profile_img {
        width: 150px;
        height: 150px;
    }
}
@media (max-width:400px) {
    .profile_detils h1 {
        font-size: 2rem;
        font-family: sans-serif;
    }

    .library_profile_img {
        width: 100px;
        height: 100px;
    }

    .library {
        padding: 0px 0px;
    }
    .playlist_detils {
        gap: 10px;
    }
}

