.left {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #121212;
    border-radius: 10px;
}



.header {
     height: 30%;
    width: 100%;
}

.header img {
    width: 20px;
    height: 20px;
}

.header_part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header_part1 h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_part1_right {
    display: flex;
    gap: 10px;
}

.hides {
    width: 15px ;
    height: 15px;
    margin-right: 8px;
    display: none;
    visibility: 0%;
    transition: all 3s ease-in-out;

}

.left:hover .hides {
    display: block;
    visibility: 100%;
}

.zoom , .plus {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus  {
    background-color: #282828;
}

.zoom:hover ,.plus:hover {
    background-color: #534d4d;
}
.zoom img , .plus img {
    width: 15px;
    height: 15px;
}


.playlist_name {
    display: flex;
    gap: 8px;
    padding: 15px 15px 5px 15px;
}
 
.playlist_name h4 {
    background-color:#333333;
    padding: 0.4rem;
    border-radius: 40px;
}

.header_last {
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    margin-top: 10px;
}

.header_last p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

.header_input {
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-radius: 20px;
    width: 60%;
}

.header_input input {
    padding: 5px 0;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    padding-left: 5px;
    display: none;
    width: 100%;
    padding-right: 10px;
}

.header_input:hover input {
  display: block;
}
.header_input:hover {
     background-color: #282828;
}



/* Lets edit the playlsit ? */


.playlist {
    width: 100%;
    height: 75%;
    overflow-x: auto;
    margin-top: 10px;
}

/* Scrollbar track */
.playlist::-webkit-scrollbar {
    width: 8px;
}

/* Scrollbar thumb */
.playlist::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

/* Scrollbar thumb on hover */
.playlist::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}




@media (max-width:850px){
    .left {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #121212;
    border-radius: 10px;
}
}


@media (max-width:700px){
    .left {
        width: 60%;
    }
}
@media (max-width:700px){
    .left {
       display: none;
    }
}