.psong {
    width: 100%;
    height: 60px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.psong:hover {
    background-color: #3A352E;
}

.psong_part1 {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 15px;

}

.psong_thumbnial {
    width: 40px;
    height: 80%;
    border-radius: 2px;
    overflow: hidden;
}

.psong_thumbnial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index {
    color: rgba(255, 255, 255, 0.767);
    font-size: 1.5rem;
    font-weight: bold;
}

.psong_part2 {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.psong_part3 {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

.psong_part2,
.psong_part3 {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.767);
    font-weight: 500;
}



.playicon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ED760;
    display: none;
}


.psong:hover .playicon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ED760;
}

.psong:hover .ulta {
    display: none;
}