.player {
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: white;
    padding: 10px;
}

.player img {
    width: 30px;
    height: 30px;
}

.player_part1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.player_thumbnial {
    width: 20%;
    height: 81%;
    border-radius: 5px;
    overflow: hidden;
}

.player_thumbnial img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player_part2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.player_part2_1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player_part2_1 img {
    height: 20px;
    width: 20px;
}

.player_part2_2 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.player_part2_2 input[type="range"] {
    width: 100%;
    cursor: pointer;
    accent-color: #1db954;
    /* modern green */
}

.player_part2_2 input {
    width: 80%;
    cursor: pointer;
}

.player_part3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 5px;

}

.player_part3 img {
    width: 20px;
    height: 20px;
}


.player_plus {
    border: 1px solid white;
    border-radius: 50%;
    padding: 0 4px;
}

.player_plus img {
    width: 10px;
    height: 10px;
}


@media (max-width:1000px) {
    .player_part1 {
        display: none;
    }

    .player {
        width: 100%;
        height: 15%;
        display: grid;
        color: white;
        padding: 10px;
        gap: 5px;
        grid-template-columns: 1fr;
    }
}

@media (max-width:400px) {
    .hidden {
        display: none;
    }
}


.audio {
    display: none;
}